.texto_inicio {
    text-shadow: 2px 2px 4px #000000;
    text-align: justify;
    line-height: 1,5;
    padding: 10px;
}
.lineas {
    border: 15cm;
    height: 30px;
    margin: 50%;
    background-color: aquamarine;
}
.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.submenu ul {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.submenu:hover ul {
    display: block;
}

.submenu li {
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.background {
    background-image: url(../img/fondo_inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: auto;
    margin: auto;
    height: auto;
    image-rendering: auto;
}
body{
    margin: 0;
}

.texto{
    font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.texto_titulo {
    font-weight: bold;
    text-align: center;
    text-shadow: 1
}