.texto_inicio {
    text-shadow: 2px 2px 4px #000000;
    text-align: justify;
    line-height: 1,5;
    padding: 10px;
}
.lineas {
    border: 15cm;
    height: 30px;
    margin: 50%;
    background-color: aquamarine;
}

.esquina {
  position: fixed;
  padding: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.esquina:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.esquina.superior-izquierda {
  top: 180px;
  left: 220px;
  background-color: #3498db;
}

.esquina.superior-derecha {
  top: 180px;
  right: 220px;
  background-color: #e74c3c;
}

.esquina.inferior-izquierda {
  bottom: 180px;
  left: 220px;
  background-color: #2ecc71;
}

.esquina.inferior-derecha {
  bottom: 180px;
  right: 220px;
  background-color: #f39c12;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.menu {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}
.submenu {
  position: relative;
}

.submenu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.submenu:hover ul {
  display: block;
}

.submenu li {
  display: block;
  padding: 10px;
}

.background {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    padding: auto;
    margin: auto;
    height: auto;
    image-rendering: auto;
}

.texto{
    font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.texto_titulo {
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
}


.barra-superiorPag5,
.barra-navegacionPag5 {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.barra-superiorPag5 a,
.barra-navegacionPag5 a,
.barra-inferior a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.imagen-cabeceraPag5 {
  width: 100%;
}

.titulo-principalPag5 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 20px 0;
}

.contenidoPag5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.imagen-texto-containerPag5 {
  flex: 1;
}

.imagen-texto-containerPag5 img {
  max-width: 100%;
  height: auto;
}

.textoPag5 {
  flex: 1;
  max-width: 60%;
  margin-left: 20px;
  line-height: 1.6;
  word-wrap: break-word;
}

.barra-inferior p {
  margin: 0;
}


.barra-superiorPag4,
.barra-navegacionPag4,
.barra-inferior {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.barra-superiorPag4 a,
.barra-navegacionPag4 a,
.barra-inferior a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.imagen-cabeceraPag4 {
  width: 100%;
}

.titulo-principalPag4 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 20px 0;
}

.contenidoPag4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.imagen-texto-containerPag4 {
  flex: 1;
}

.imagen-texto-containerPag4 img {
  max-width: 100%;
  height: auto;
}

.textoPag4 {
  flex: 1;
  max-width: 60%;
  margin-left: 20px;
  line-height: 1.6;
  word-wrap: break-word;
}

.barra-inferior p {
  margin: 0;
}

.titulo-secundarioPag4 {
  font-size: 1.5em;
  margin-top: 20px;
}

.fondo-pag1{
  margin: 0;
  padding: 0;
  background-image: url('https://www.gratistodo.com/wp-content/uploads/2018/02/Avatar-Wallpapers-4.jpg');
  background-size: cover; 
}
.fondo-pag2{
  margin: 0;
  padding: 0;
  background-image: url('https://wallpapers.com/images/hd/avatar-pandora-o7u6d6yrbz6tcxfo.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 
}
.fondo-pag3{
  margin: 0;
  padding: 0;
  background-image: url('https://images2.alphacoders.com/106/1062925.jpg');
  background-size: cover; 
  background-attachment: fixed; 
}
.fondo-pag4{
  margin: 0;
  padding: 0;
  background-image: url('https://images4.alphacoders.com/106/1062808.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.fondo-pag5{
  margin: 0;
  padding: 0;
  background-image: url('https://i.imgur.com/6xcOauU.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

.barra-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.fondo-contenedor {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Ajusta el ancho del contenedor central */
  height: 100vh; /* Ajusta la altura del contenedor central al 100% del viewport */
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo fijo con opacidad */
  z-index: 0; /* Coloca el contenedor en la capa inferior */
}